# Shared across all services (used by docker-compose)
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=stockpassword
DB_NAME=stock_platform

REDIS_HOST=redis
REDIS_PORT=6379

ES_HOST=http://elasticsearch:9200

# Service ports
PORT_CATALOG=3001
PORT_PRICE_ENGINE=3002
PORT_PRICE_CACHE=3003
PORT_SEARCH=3004
PORT_LISTING=3005
PORT_SCHEDULER=3006
