grpcio>=1.75.0
grpcio-tools>=1.75.0
pyarrow>=18.0.0
pyzmq>=26.2.0
msgpack>=1.1.0
onnxruntime>=1.20.1
scikit-learn>=1.6.1
numpy>=2.2.3
protobuf>=5.29.4
opentelemetry-sdk>=1.30.0
opentelemetry-exporter-otlp-proto-grpc>=1.30.0
torch>=2.6.0
